.border {
	transition-property: width;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.container.collapsed .border {
	width: 100%;
}

.container .border {
	--b: 5px;
	--c: 15em;
	--r: 2em;
	position: relative;
	border: solid var(--b) transparent;


  width: 100%;
	height: 100%;
/*  height: var(--border-height);*/

	&::before {

		 position: absolute;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(#253759, #466273, #B78C38) border-box;
		--corner:
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0)
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
		mask: var(--corner) subtract, var(--inner);
		content: '';
	}
}
.container.collapsed .canvas-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.container .canvas-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
