:root {
  --border-width: var(--border-width, 100%); /* Default to 100% if the variable is not set */
  --border-height: var(--border-height, 100%); /* Default to 100% if the variable is not set */
}

.viewport {
  width: var(--border-width);
  height: var(--border-height);
  border: 1px solid black;
  overflow: hidden;
}

.webgl-canvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
}
