:root {
  --border-width: var(--border-width, 100%); /* Default to 100% if the variable is not set */
  --border-height: var(--border-height, 100%); /* Default to 100% if the variable is not set */
}

.viewport {
  width: var(--border-width);
  height: var(--border-height);
  border: 1px solid black;
  overflow: auto;
}

canvas {
  /*background-color: #9b9b9b;*/

}
